.descriptor {
    color: rgba(0, 0, 0, .3);
}

#preview {
    height: 156px;
    overflow: scroll;
}

#missingFontsBody {
    display: none;
    height: 100%;
    text-align: center;
}

.icon--orientation-rows {
    background-image: url('../img/orientation-rows.svg');
}

.icon--orientation-columns {
    background-image: url('../img/orientation-columns.svg');
}